body {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: -10px;
    flex-direction: row;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    padding: 20px;
    background-color: #FFFFFF;
}

section {
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

.logo-container {
    flex: 1;
    text-align: center;
}

#logo {
    max-width: 50%;
    height: auto;
    position: relative;
}

nav {
    text-align: center;
    display: flex;
    background-color: #FFFFFF;
    color: #fff;
    padding: 10px;
    width: 100%;
}

nav ul {
    flex: 1;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

a:hover { color:#000; }

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: #FFFFFF;
    /* Black w/opacity/see-through */
}

.description {
    text-align: center;
    font-size: 22px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #428f03, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.guide {
    overflow:hidden;
    transition: all 2.5s;
}

.open {
    max-height: 999px;
    opacity: 1;
}

.is-paused {
    max-height: 0px;
    opacity: 0;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.how-to-buy {
    font-family: monospace;
    border-style: solid;
    border-radius: 8px;
    border-color: #000;
    padding: 20px;
    margin: 20px auto;
    box-shadow 0 4px 8px #0000001a;
    max-width: 600px;
    width: 90%;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.intro {
    font-size: 20px;
    line-height: 1.6;
    margin-top 0;
    padding-top: 0;
    margin-left: 0px;
}

.steps {
    list-style-type: none;
    padding: 0;
    margin-left 20px;
    font-size: 18px;
}

.steps li {
    border-left: 4px solid #686868;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #0000000d;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 360px;
    align-items: center;
}

.Links {
    margin-bottom: 300px;
}

.topleftlogo {
    width: 200px;
    height: 200px;
    top:0;
    left: 0;
    vertical-align: top;
}
